
/*expandiendo a dos columnas*/

@media screen and (min-width: 480px)
{	#primary {	width: 50%;
		float: left;	}
	#secondary {	width: 40%;
		float: right;	}
	
nav {	background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 45%;	}


	body {		background: orange;}

}


